<%= flash[:error] %>
<% @movies.each do |movie| %>
<ul class="item"><li class='title'><%= link_to movie.title, movie %></li>

	<li><%= movie.officialurl %></li>
	</li><%= movie.rating %></li>
	<%= @quotable %>
	<% if user_signed_in? %>
	  <li class="edit"><%= link_to "Edit", edit_movie_path(movie) %></li> |
	  <li class="delete"><%= link_to "Delete", movie_path(movie), :confirm => "Are you sure?", :method => :delete %></li>
	<% end %>
	</ul>
<% end %>

<% if user_signed_in? %>
<%= link_to "Add another movie", new_movie_path %>
<% end %>