<% @movies.each do |movie| %>
<ul class="item"><li class='title'><%= link_to movie.title, movie %></li>
	<li class='description'><%= movie.description %></li>
	<li><%= movie.officialurl %></li>
	</li><%= movie.rating %></li>
	<li><%= link_to "Buy this on Amazon", movie.amazonurl %></li>
	<li><%= link_to "Edit", edit_movie_path(movie) %></li></ul>
<% end %>
<%= link_to "Add another movie", new_movie_path %>