<div id="main">
  <ul class ="info">
    <li>
      <%= image_tag(@movie.image_url, :class => 'itempic') %>       
    </li>  
	  <li class='title'>
	    <%= @movie.title %>
	  </li>

  <li class='description'>
    <% if @movie.description.blank? %>
    <%= @movie.aws_description  %><%= link_to "...", "google.com", :title => 'Read more' %>
    <% else %>
    <%= @movie.description %>
    <% end %>
  </li>
  <li><%= link_to 'Buy this on Amazon', @movie.amazon_url %></li>
	
  </ul>
  </div>
  
<div class='quotes'><%= render :partial => "quotes/quote", :collection => @movie.quotes, :locals => {:quotable => @movie} %></div>
	
<div style="clear: left; width: 400px;">	
	<% @search.each do |tweet| %>
	<p>
	<% userpic = tweet.profile_image_url %>
	<%= tweet.from_user %>
	<%= image_tag(userpic, :width => '48', :height => '48') %>
	<%= tweet.text %>
	<div style="background-color: black; color: white;">
	<%= tweet.inspect %></div>
	</p>
	<% end %>
</div>	
	<% if user_signed_in? %>
	<ul class="adminpanel">
	<li><%= link_to "Edit this item", edit_movie_path(@movie) %></li>
	<li><%= link_to "Add a pull quote to this item", movie_quotes_path(@movie) %></li>
	<li><%= link_to "Add another item", new_movie_path %></li>
	</ul>
	<% end %>