<div id="main">
  <ul class ="info">
    <li>
      <%= image_tag(@movie.image_url, :class => 'itempic') %>       
    </li>  
	  <li class='title'>
	    <%= @movie.title %>
	  </li>

  <li class='description'>
    <% if @movie.description.blank? %>
    <%= @movie.aws_description  %><%= link_to "...", "google.com", :title => 'Read more' %>
    <% else %>
    <%= @movie.description %>
    <% end %>
  </li>
  <li><%= link_to 'Buy this on Amazon', @movie.amazon_url %></li>
	
  </ul>

<div class='quotes'><%= render :partial => "quotes/quote", :collection => @movie.quotes, :locals => {:quotable => @movie} %></div>
</div>
  


<div id="sidebar">
<div class="twitter">
	<h1>Recent Tweets about <%= @movie.title %></h1>	
	<% @search.each do |tweet| %>
	<% userpic = tweet.profile_image_url %>
	<ul class="tweet">
	<li><%= image_tag(userpic, :width => '48', :height => '48') %></li>
	<li class="tweetfrom"><%= tweet.from_user %></li>
	<li class="tweettext"><%= tweet.text %></li>
	</ul>
	<% end %>
</div>
</div>
	<% if user_signed_in? %>
	<ul class="adminpanel">
	<li><%= link_to "Edit this item", edit_movie_path(@movie) %></li>
	<li><%= link_to "Add a pull quote to this item", movie_quotes_path(@movie) %></li>
	<li><%= link_to "Add another item", new_movie_path %></li>
	</ul>
	<% end %>