<%= image_tag(@movie.imageurl, :class => 'itempic') %>

<div class="info"><ul>
  <li class='title'><%= @movie.title %></li>
	<li class='description'><%= @movie.description %></li>
	<li><%= @movie.rating %></li>
	<li><%= link_to "Buy on Amazon", @movie.amazonurl %></li>
  </ul></div>
<div class='quotes'><%= render :partial => "quotes/quote", :collection => @movie.quotes %></div>
	
	<%= link_to "Edit this item", edit_movie_path(@movie) %> | 
	<%= link_to "Add another item", new_movie_path %>
<%= link_to "Add a pull quote to this item", movie_quotes_path(@movie) %>