<%= flash[:error] %>
<% @games.each do |game| %>
<ul class="item"><li class="title"><%= link_to game.title, game %></li>
	<li class="description"><%= game.description %></li>
	<li class="officiallink"><%= game.officialurl %></li>
	<li class="rating"><%= game.rating %></li>
  
	<% if user_signed_in? %>
	<li class="edit"<%= link_to "Edit", edit_game_path(game) %></li> |
		<li class="delete"><%= link_to "Delete", game_path(game), :confirm => "Are you sure?", :method => :delete %></li>
	<% end %>
</ul>

<% end %>
<% if user_signed_in? %>
<%= link_to "Add another game", new_game_path %>
<% end %>