<%= image_tag(@product.image.url, :class => 'itempic') %>
<div class='info'>
  <ul>
	<li class="title"><%= @product.title %></li>
	<li class="modelno"><%= @product.modelnumber %></li>
	<li class="rating"><%= @product.rating %></li>
	<li class="description"><%= @product.description %></li>
	<li><%= link_to "Buy on Amazon", @product.amazonurl %></li>
	</ul>
</div>	
	
	<div class="quotes"><%= render :partial => "quotes/quote", :collection => @product.quotes, :locals => {:quotable => @product} %></div>

  <div style="clear: left; width: 400px;">	
  	<% @search.each do |tweet| %>
  	<p>
  	<% userpic = tweet.profile_image_url %>
  	<%= tweet.from_user %>
  	<%= image_tag(userpic, :width => '48', :height => '48') %>
  	<%= tweet.text %>
  	<div style="background-color: black; color: white;">
  	<%= tweet.inspect %></div>
  	</p>
  	<% end %>
  </div>

	<% if user_signed_in? %>
	<ul class="adminpanel">
	<li><%= link_to "Edit this item", edit_product_path(@product) %></li>
	<li><%= link_to "Add a pull quote to this item", product_quotes_path(@product) %></li>
	<li><%= link_to "Add another item", new_product_path %></li>
	</ul>
	<% end %>