<div id="main">
  <ul class ="info">
    <li>
      <%= image_tag(@product.image_url, :class => 'itempic') %>       
    </li>  
	  <li class='title'>
	    <%= @product.title %>
	  </li>

  <li class='description'>
    <% if @product.description.blank? %>
    <%= @product.aws_description  %><%= link_to "...", "google.com", :title => 'Read more' %>
    <% else %>
    <%= @product.description %>
    <% end %>
  </li>
  <li class="amazon"><%= link_to 'Buy this on Amazon', @product.amazon_url %></li>
  
  </ul>

<div class='quotes'><%= render :partial => "quotes/quote", :collection => @product.quotes, :locals => {:quotable => @product} %></div>
</div>
  


<div id="sidebar">
<div class="twitter">
	<h1>Recent Tweets about <%= @product.title %></h1>	
	<% @search.each do |tweet| %>
	<% userpic = tweet.profile_image_url %>
	<ul class="tweet">
	<li><%= image_tag(userpic, :width => '48', :height => '48') %></li>
	<li class="tweetfrom"><%= tweet.from_user %></li>
	<li class="tweettext"><%= tweet.text %></li>
	</ul>
	<% end %>
</div>
</div>

	<% if user_signed_in? %>
	<ul class="adminpanel">
	<li><%= link_to "Edit this item", edit_product_path(@product) %></li>
	<li><%= link_to "Add a pull quote to this item", product_quotes_path(@product) %></li>
	<li><%= link_to "Add another item", new_product_path %></li>
	</ul>
	<% end %>