<!DOCTYPE html>
<html>
<head>
  <title><%= @pagetitle %></title>
  <%= stylesheet_link_tag :all %>
<%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="container">
<div id="header">
  <%= image_tag "/images/logo.png", :title => "Threedly Logo", :class => "logo" %>
</div>

<div id="navbar">
  <ul><li><%= link_to "GAMES", games_path %></li><li><%= link_to "MOVIES", movies_path %></li><li><%= link_to "PRODUCTS", products_path %></li></ul>
</div>

<div id="content">
	<% if flash[:notice] %>
	  <div class="notice">
	    <%= flash[:notice] %>
	  </div>
	<% end %>
	
	<% if flash[:alert] %>
	  <div class="alert">
	    <%= flash[:alert] %>
	  </div>
	<% end %>
<%= yield %>
</div>

<div id="footer">Copyright 2010 Threedly</div>

</div>
</body>
</html>
